#main-card-css {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  width: 1200px;
  margin: 200px auto;
}

.main-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition:0.3s;
  width: 100%;
  border-radius: 20px 0 20px 20px;
}

.main-card:hover{
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
}

.main-brand-color{
    height: 30px;
    background-color: #111;
    border-radius: 20px 0 0 0;
}

.main-card-content{
    padding: 20px;
}

.main-card-content p,.main-card-like p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

.main-card-content span{
    font-size: 24px;
    text-transform: uppercase;
}

.main-card-like{
    float: right;
    padding: 0 20px 10px 20px;
    cursor: pointer;
}


