html,
body {
  height: 100%;
  background-color: #f1f1f1;
}
#container {
  min-height: 100%;
}
main{
  margin-top: 200px;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
}

/* header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

header .header-brand {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #111;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  margin: 31px 0;
  padding: 0 20px 0 40px;
  border-right: 3px solid #111;
  float: left;
  line-height: 38px;
}

header nav ul {
  display: block;
  margin: 20px 0 0 20px;
  float: left;
}

header nav ul li {
  display: inline;
  float: left;
  padding: 0 20px;
}

header nav ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #111;
  text-transform: uppercase;
  line-height: 60px;
}

header .header-login {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #111;
  cursor: pointer;
  text-transform: uppercase;
  float: right;
  line-height: 38px;
  margin: 30px 40px 0 0;
  padding: 0 20px;
  border: 1px solid #111;
}

.active,
header nav ul li:hover,
header .header-login:hover {
  background-color: rgb(136, 130, 130);
}

/* footer */

footer {
  padding: 40px 40px;
  background-color: #111;
  position: relative;
  overflow: hidden;
  clear: both;
  margin-top: -100px;
  height: 100px;
}

footer ul li {
  display: block;
  float: left;
  padding: 0 20px;
}

footer ul li a,
.footer-sm a {
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fff;
  text-transform: uppercase;
}

.footer-sm {
  width: 90px;
  float: right;
}
